<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sir james locks - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <!-- <link rel="preload" href="{% static 'fonts/OpenSans-Regular.woff2' %}" as="font" type="font/woff2" crossorigin> -->
    <!-- <link rel="preload" href="{% static 'fonts/Montserrat-Thin.woff2' %}" as="font" type="font/woff2" crossorigin> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <meta name="description" content="Sir James Locks - Your Reliable Security Companion for All Locksmith Solutions!">
    <meta name="keywords" content="locksmith, security, North West, locksmith services,
     reliable locksmith, locksmith near me, locksmith near me for car, locksmith near me for house, locksmith near me prices">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Sirjames Locks - Your Reliable Security Companion">
    <meta property="og:description" content="Providing locksmith services in North West. Reliable locksmith near you for car and house. Affordable prices.">
    <meta property="og:image" content="{% static 'imgs/google-snippet-img.jpeg' %}">

    {% block css %} {% endblock %}
    
</head>

<body>
    <div class="container-fluid mini-header p-1">
        <div class="container d-flex align-items-center text-center text-sm-start">
            <div class="flex-grow-1">
                <ul class="list-group list-group-horizontal-sm">
                    <li><i class="fa-solid fa-envelope social-media-icon m-1 m-sm-2"></i>sirjames-locks@hotmail.com</li>
                    <li><i class="fa-solid fa-map-pin social-media-icon m-1 m-sm-2"></i>North West</li>
                    <li><i class="fa-solid fa-phone social-media-icon m-1 m-sm-2"></i>07512 351941</li>
                </ul>
            </div>
            
            <div>
                <ul class="list-group list-group-horizontal">
                    <li class="d-none d-sm-block">
                        <a href="https://www.facebook.com/sirjameslocks"><i class="fa-brands fa-facebook mini-header-icon
                             header-social-icon m-2 social-media-icon clickable-social-media-icon"></i></a>
                    </li>
                    <li class="d-none d-sm-block">
                        <a href="">
                            <i class="fa-brands fa-instagram mini-header-icon
                             header-social-icon m-2 social-media-icon clickable-social-media-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container navbar-items">
            <a class="navbar-brand text-center" href="{% url 'home' %}">
                <img src="{% static 'imgs/logo.png' %}" alt="logo" class="d-inline-block align-text-top logo-img" width="70">
                <p class="p-1 logo-text">Sir James Locks</p>
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
                    <li class="nav-item ms-5">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item ms-5">
                        <a class="nav-link" href="{% url 'home' %}#about" onclick="scrollToSection('about')">About</a>
                    </li>
                    <li class="nav-item ms-5">
                        <a class="nav-link" href="{% url 'home' %}#reviews" onclick="scrollToSection('reviews')">Reviews</a>
                    </li>
                    <li class="d-block d-lg-none nav-item ms-5">
                        <a class="nav-link" href="{% url 'contact' %}">Contact Me</a>
                    </li>
                </ul>
                <div class="contact-btn-container">
                    <a href="{% url 'contact' %}">
                        <button class="btn btn-danger btn-lg contact-btn d-none d-lg-block">
                            Contact Me
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <li class="alert alert-success text-center">{{ message }}</li>
            {% elif message.tags == 'error' %}
                <li class="alert alert-danger text-center">{{ message }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
    
    <main>
        {% block content %}  

        {% endblock %}
    </main>

    <footer class="text-center text-lg-start footer-social-container">
        <section class="p-3 border-bottom text-center">
            <div class="mx-auto">
                <a href="" class="me-4"><i class="fa-brands fa-instagram
                     footer-social-media-icon social-media-icon clickable-social-media-icon"></i>
                </a>

                <a href="https://www.facebook.com/sirjameslocks"><i class="fa-brands fa-facebook
                     footer-social-media-icon social-media-icon clickable-social-media-icon"></i>
                </a>
            </div>
        </section>

        <div>
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-2">
                            <i class="fas fa-gem me-3 social-media-icon"></i>Sir James Locks
                        </h6>
                        <p>
                            Your Reliable Security Companion for All Locksmith Solutions!
                        </p>
                    </div>
            
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
                        <h6 class="text-uppercase fw-bold mb-2">Links</h6>
                        <p><a href="" class="nav-link">Home</a></p>
                        <p class="mt-1"><a class="nav-link" href="{% url 'home' %}#about" onclick="scrollToSection('about')">About</a></p>
                        <p class="mt-1"><a href="{% url 'contact' %}" class="nav-link">Contact Me</a></p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-2">Contact</h6>
                        <p><i class="fas fa-home me-3 social-media-icon"></i>North West</p>
                        <p class="mt-1"><i class="fas fa-envelope me-3 social-media-icon"></i>sirjameslocks@hotmail.com</p>
                        <p class="mt-1"><i class="fas fa-phone me-3 social-media-icon"></i>07512 351941</p>
                        <p class="mt-1"><a href="{% url 'contact' %}" class="nav-link"><i class="fa-solid fa-align-left me-3 social-media-icon"></i>Contact Form</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center p-4 copyright-container mt-4">
            <div class="row">
                <div class="col-6">
                    <p>© 2023 Copyright - <span class="fw-bold">Sir James Locks</span></p>
                </div>
                <div class="col-6">
                    Made by Eriks Benne
                </div>
            </div>

        </div>
    </footer>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="{% static 'js/scrollToView.js' %}"></script>
{% block scripts %} {% endblock %}
</html>