{% extends "base.html" %}
{% block title %} Contact me {% endblock %}

{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'css/contact.css' %}">{% endblock %}

{% block content %}

    <div class="mt-5">
        <div class="container">
            <div class="form-background p-4 mx-auto rounded-5">
                <h1 class="display-2 text-center contact-header m-4">Contact Me</h1>
                <form class="contact-page-form mx-auto mt-5" method="POST">
                    {% csrf_token %}
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <input type="text" name="name" class="form-control w-75 mx-auto" placeholder="Name..." required/>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" name="email" class="form-control w-75 mx-auto" placeholder="Email..." required/>
                    </div>

                    <!-- <div class="form-outline mb-4">
                        <input type="text" name="subject" class="form-control w-75 mx-auto" placeholder="Subject..." required/>
                    </div> -->
                
                    <!-- Message input -->
                    <div class="form-outline mb-4">
                        <textarea name="message" class="form-control w-75 mx-auto" rows="4" placeholder="Message..." required></textarea>
                    </div>
                
                    <div class="form-check d-flex justify-content-center mb-4">
                    </div>
                
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger btn-block mb-4 w-50 submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

        <div class="container-fluid bullet-points mt-5 mb-5">
            
            <div class="container p-4 p-lg-5">
                <h2 class="display-3 text-center">Additional information</h2>
                <div class="row text-center mt-5">
                    <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0 location-bullet">
                        <p class="bulletpoint-title">
                            <i class="fa-solid fa-map-pin contact-social-media-icon m-2"></i>
                        </p>
                        <div class="bulletpoint-desc-wrapper mx-auto">
                            <p class="bulletpoint-desc mt-2">North West</p>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0 phone-bullet">
                        <p class="bulletpoint-title">
                            <i class="fa-solid fa-phone contact-social-media-icon m-2"></i>
                        </p>
                        <div class="bulletpoint-desc-wrapper mx-auto mt-2">
                            <p class="bulletpoint-desc">+447512 351941</p>
                        </div>
                    </div>

                    <div class="col-12 col-md-12 col-lg-4 email-bullet">
                        <p class="bulletpoint-title">
                            <i class="fa-solid fa-envelope contact-social-media-icon m-2"></i>
                        </p>

                        <div class="bulletpoint-desc-wrapper mx-auto mt-2">
                            <p class="bulletpoint-desc">sirjameslocks@hotmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}`